.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -40px;
	margin-bottom: 62px;
}

#pu93
{
	width: 0.01px;
	padding-bottom: 47px;
	left: -100px;
	position: relative;
}

#u93
{
	z-index: 2;
	width: 1159px;
	height: 46px;
	top: -4px;
	left: 50%;
	margin-left: -50%;
}

#u94-5
{
	z-index: 3;
	width: 190px;
	min-height: 40px;
	top: 0px;
	left: 50%;
	margin-left: -95px;
}

#u231
{
	z-index: 41;
	width: 243px;
	height: 183px;
	top: 43px;
	left: 50%;
	margin-left: -685px;
}

#u232
{
	z-index: 42;
	width: 265px;
	height: 184px;
	top: 42px;
	left: 50%;
	margin-left: -444px;
}

#u233
{
	z-index: 43;
	width: 310px;
	height: 185px;
	top: 41px;
	left: 50%;
	margin-left: -179px;
}

#u234
{
	z-index: 44;
	width: 279px;
	height: 184px;
	top: 42px;
	left: 50%;
	margin-left: 131px;
}

#u259
{
	z-index: 45;
	width: 279px;
	height: 184px;
	top: 42px;
	left: 50%;
	margin-left: 410px;
}

#u181
{
	z-index: 8;
	width: 1159px;
	height: 41px;
	top: 226px;
	left: 50%;
	margin-left: -50%;
}

#menuu182
{
	z-index: 9;
	width: 442px;
	top: 240px;
	left: 50%;
	margin-left: -221px;
}

#u183
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u186
{
	width: 86px;
}

#u187-4
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
}

#u211
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u197
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u190
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 266px;
}

#u204
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 355px;
}

#u214,#u198,#u191,#u205
{
	width: 87px;
}

#u216-4,#u200-4,#u192-4,#u208-4
{
	width: 87px;
	min-height: 19px;
	margin-right: -10000px;
}

#u230
{
	z-index: 40;
	width: 308px;
	height: 417px;
	top: 261px;
	left: 50%;
	margin-left: -685px;
}

#u1615
{
	z-index: 46;
	width: 174px;
	height: 469px;
	top: 260px;
	left: 50%;
	margin-left: -600px;
}

#pu1587-54
{
	width: 0.01px;
	margin-left: 133px;
	margin-top: 271px;
	position: relative;
}

#u1587-54
{
	z-index: 62;
	width: 527px;
	min-height: 1051px;
	position: relative;
	margin-right: -10000px;
}

#u1587-5,#u1587-6,#u1587-11,#u1587-17,#u1587-18,#u1587-31,#u1587-44
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u1587-4,#u1587-10,#u1587-16,#u1587-30,#u1587-43
{
	text-decoration: underline;
}

#pu1588
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 527px;
}

#u1588
{
	z-index: 116;
	width: 399px;
	height: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("pantoncar20121202ec.jpg") no-repeat left top;
}

#u1589
{
	z-index: 117;
	width: 399px;
	height: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-top: 22px;
	position: relative;
	background: #FFFFFF url("10172572_719910668048173_4514671572571220638_n-u1589-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1590
{
	z-index: 118;
	width: 399px;
	height: 200px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-top: 22px;
	position: relative;
	background: #FFFFFF url("295628_10200267605585543_942606618_n-u1590-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu686-5
{
	width: 0.01px;
	left: -76px;
	top: -1023px;
	margin-bottom: -169px;
	position: relative;
}

#pu686-5_position_content
{
	margin-top: -306px;
	margin-bottom: 475px;
}

#u686-5
{
	z-index: 47;
	top: 342px;
	left: 50%;
	margin-left: -556px;
}

#u689-5
{
	z-index: 52;
	top: 413px;
	left: 50%;
	margin-left: -550px;
}

#u690-5
{
	z-index: 57;
	top: 482px;
	left: 50%;
	margin-left: -556px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

